# Lab: Gender Analysis of Twitter Dataset 

## History 

This data set was used to train a CrowdFlower AI gender predictor. Contributors were asked to simply view a Twitter profile and judge whether the user was a male, a female, or a brand (non-individual). The dataset contains 20,000 rows, each with a user name, a random tweet, account profile and image, location, and even link and sidebar color.

Sources: 
* https://www.crowdflower.com/data-for-everyone/
* https://www.crowdflower.com/using-machine-learning-to-predict-gender/

### Exercise

* Perform data cleaning.
* Determine which tweets were tweeted by Males and which tweets were tweeted by females. Assign them to the variables,
male_words and female_words.
* Do a bar plot using seaborn.

In [12]:
from collections import defaultdict
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import LabelEncoder
from nltk.corpus import stopwords
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import re
import seaborn as sns

tweet=pd.read_csv("https://s3.amazonaws.com/refactored/lab_data/genderclassification.csv",encoding='latin1')
tweet.head(3)
male_words = tweet
male_words.columns
#female_words['you'] = 1813
#print(abs(male_words['you']))

,_unit_id,_trusted_judgments,gender:confidence,profile_yn:confidence,fav_number,retweet_count,tweet_count,tweet_id
count,2.005000e+04,20050.000000,20024.000000,20050.000000,20050.000000,20050.000000,2.005000e+04,2.005000e+04
mean,8.157294e+08,3.615711,0.882756,0.993221,4382.201646,0.079401,3.892469e+04,6.587350e+17
std,6.000801e+03,12.331890,0.191403,0.047168,12518.575919,2.649751,1.168371e+05,5.000124e+12
min,8.157192e+08,3.000000,0.000000,0.627200,0.000000,0.000000,1.000000e+00,6.587300e+17
25%,8.157243e+08,3.000000,0.677800,1.000000,11.000000,0.000000,2.398000e+03,6.587300e+17
50%,8.157294e+08,3.000000,1.000000,1.000000,456.000000,0.000000,1.144150e+04,6.587300e+17
75%,8.157345e+08,3.000000,1.000000,1.000000,3315.500000,0.000000,4.002750e+04,6.587400e+17
max,8.157580e+08,274.000000,1.000000,1.000000,341621.000000,330.000000,2.680199e+06,6.587400e+17